{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for item in errors %}
                <li>
                  <a href="#name">{{item.msg}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      <h1 class="govuk-heading-l">What is the company number?</h1>
      <form action="" method="post">
        {{ govukInput({
        label: {
          text: "Company number",
         classes: ""
        },
        id: "companynumber",
        classes: "govuk-input--width-20",
        name: "companynumber",
        hint: {
       text: ""
     }
      }) }}
        {{ govukButton({
   text: "Continue"
 }) }}
      </form>

    </div>
  </div>

{% endblock %}