{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "results"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Select reminders
      </h1>
      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "Which reminders?",
            isPageHeading: true,
            classes: ""
          }
        },
        items: [
          {
            value: "accounts",
            text: "Accounts"
          },
          {
            value: "confirmation-statement",
            text: "Confirmation Statement"
          },
          {
            divider: "or"
          },
          {
            value: "both",
            text: "Both"
          }
        ]
      }) }}
      {{ govukButton({
  text: "Confirm",
  href: "email-adress"
}) }}
    </div>
  </div>

{% endblock %}