{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get company reminders
      </h1>
      <p>
        Sign up to get free reminders by email for a company.
      </p>
      <p>An activation email will be sent to the new email address and the recipient must agree to the Terms of Operation to join the service before we can send eReminders to that email address.</p>
      {{ govukButton({
        text: "Start now",
        href: "email-adress",
        classes: "govuk-button--start"
      }) }}
      <h2 class="govuk-heading-m">No longer want to recieve e-reminders?</h2>
      <p>Click the unsubscribe link in the email you’ve been sent</p>
    </div>
  </div>

{% endblock %}