{% extends "layout.html" %}

{% block pageTitle %}
  eReminder Service Terms of Operation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        eReminder Service Terms of Operation
      </h1>
      <p>
        These terms of operation describe the basis upon which the Registrar's eReminder Service is provided to companies and limited liability partnerships (collectively called "companies" in these terms). The eReminder Service is not available to any other
        type of body. A company or limited liability partnership may only opt in to the eReminder Service if you accept these terms on its behalf.
      </p>
      <p>
        It is particularly important that you understand Clause 4.
      </p>
      <p>
        <strong>Please indicate that you have read, understood and accept these terms for and on behalf of the company or limited liability partnership by completing the "I agree" tick box on the activation screen.</strong>
      </p>
      <h2 class="govuk-heading-l">1. Definitions</h2>
      <p>1.1 The "<strong>eReminder Service</strong>" is the service whereby a company chooses to have its filing reminders:</p>
      <p>(i) created in electronic rather than paper form (an "<strong>eReminder</strong>"); and</p>
      <p>sent only to its representative(s) by email</p>
      <p>as the service is described in more detail in the service summary at the end of these terms and on the website from time to time.</p>
      <p>1.2 The "<strong>filing reminders</strong>" that will be sent as eReminders are:</p>
      <p>(i) one accounts due reminder sent at least one month before the filing deadline; and</p>
      <p>(ii) one confirmation statement due reminder before the end of the current review period and at least 14 days before the due date for filing (the review period is twelve months from the date of incorporation or from the date on which the last
        review period ended)</p>
      <p>1.3 The other definitions used in these terms are:</p>
      <p>1.3.1 "<strong>activation notice</strong>" has the meaning set out in clause 2.3;</p>
      <p>1.3.2 "<strong>company</strong>" means a company or limited liability partnership;</p>
      <p>1.3.3 "<strong>electronic-filing service</strong>" means the Registrar's on-line filing service (WebFiling) and software-filing service and information about both, including how to register, can be found on the website;</p>
      <p>1.3.4 "<strong>nominee</strong>" means a person nominated by the company to be an authorised recipient of the company's eReminders under the eReminder Service;</p>
      <p>1.3.5 "<strong>representative</strong>" means a nominee from whose email address the Registrar has received an activation notice;</p>
      <p>1.3.6 "<strong>website</strong>" means the Companies House website from time to time, which can be found at
        <a href="www.companieshouse.gov.uk">www.companieshouse.gov.uk</a>
      </p>

      <h2 class="govuk-heading-l">2. Opting in to the eReminder Service</h2>
      <p>2.1 A company may only opt in to the eReminder Service if it has registered to use an electronic-filing service and has a company authentication code. The company opts in by following the joining instructions available on the electronic-filing
        service in question. The opt-in facility may not be available on all software-filing services. Companies which have chosen to receive communications from the Registrar in Welsh will receive bilingual Welsh/English eReminders under the eReminder
        Service.</p>
      <p>2.2 As part of the opt-in process, the company must supply the Registrar with a valid email address for at least one and no more than four nominees. The Registrar will send an activation email to each nominee at his or her email address. The
        activation email contains a link which is valid for five days. Each nominee must click on the link and follow the instructions to complete the validation process. As part of the validation process, the nominee must:</p>
      <p>2.2.1 consent to act as the company's representative for the purposes of the eReminder Service;</p>
      <p>2.2.2 consent to his or her data being used for the purposes described in Clause 2.6; and</p>
      <p>2.2.3 confirm that he or she has read these terms.</p>
      <p>2.3 An automatically generated notice is sent to the Registrar when the nominee completes the validation process (an "<strong>activation notice</strong>"). The Registrar will only send eReminders to email addresses from which he has received an activation notice.</p>
      <p>2.4 If the Registrar does not receive an activation notice from a nominee, the company must resubmit that nominee's details if it still wishes that nominee to be its representative for the eReminder Service. If the Registrar does not receive an
        activation notice from any of the company's nominees, the company's request to opt in to the eReminder Service lapses. The company can restart the opt-in process at any time.</p>
      <p>2.5 The opt-in process is completed and the company joins the eReminder Service when the Registrar receives the first activation notice from any of the company's nominees. If on that date a filing reminder in paper form has already been sent in
        respect of the confirmation statement or accounts next due, no eReminder will be sent in respect of that confirmation statement or those accounts.</p>
      <p>2.6 The Registrar will use a representative's data:</p>
      <p>2.6.1 to provide the eReminder Service; and</p>
      <p>2.6.2 to send emails about the company's compliance with its statutory obligations where a compliance letter sent to the company has been returned to the Registrar as undeliverable.</p>
      <h2 class="govuk-heading-l">3. Adding and removing details</h2>
      <p>3.1 The company may add or remove representatives details at any time by using the eReminder Service update facility available as part of the electronic-filing service. Each representative can change his or her own appointment details and email
        address: a representative may therefore terminate his or her appointment as representative without the knowledge or consent of the company. The company is responsible for managing this risk.</p>
      <p>3.2 The Registrar will send an activation email to each new email address added. No eReminders will be sent to that representative until the Registrar receives an activation notice from the new email address. No eReminder will be sent to that
        representative during the period between the activation email being sent and the activation notice being received. If during this period the company has no other representatives to whom the Registrar can send an eReminder under these terms, the
        company will be deemed to be opted out of the eReminder service.</p>
      <h2 class="govuk-heading-l">4. The eReminder Service</h2>
      <p>4.1 By opting in to the eReminder Service the company instructs the Registrar:</p>
      <p>4.1.1 to stop issuing and sending filing reminders in paper form;
      </p>
      <p>4.1.2 to issue all future filing reminders in the form of eReminders; and</p>
      <p>4.1.3 to send an eReminder to each representative's email address from which the Registrar has received an activation notice before the date of issue of the eReminder.</p>
      <p>4.2 It is the company's responsibility to ensure that:</p>
      <p>4.2.1 its representatives know what action to take having received an eReminder;</p>
      <p>4.2.2 each representative's email address is associated with a live email account capable of receiving eReminders; and</p>
      <p>4.2.3 its representatives' details are current and updated as necessary.</p>
      <p>4.3 The eReminder Service is only provided in respect of filing reminders. All other communications are excluded from its terms.</p>
      <p>4.4 The eReminder Service is not a guaranteed delivery service. Once an eReminder leaves the Registrar's computer systems, it is outside the Registrar's control. The Registrar does not warrant or represent that an eReminder, once issued, will
        arrive at its intended destination on time or at all.</p>
      <p>4.5 The Registrar does not:</p>
      <p>4.5.1 check that an eReminder is received, opened or acted upon;</p>
      <p>4.5.2 monitor the email account from which eReminders are sent; or</p>
      <p>4.5.3 act upon receipt of a message (whether automatically generated or not) that an eReminder is undeliverable or has otherwise failed to reach its destination.</p>
      <p>4.6 The Registrar is not responsible for any consequences that arise if one or more eReminders fails to arrive at its intended destination before the relevant filing deadline. It is and remains the company's responsibility to ensure that its
        confirmation statement and accounts are properly delivered to the Registrar in a timely manner. Opting in to the eReminder Service does not override or affect the company's statutory duty to deliver documents to the Registrar. Companies must not rely
        on the eReminder Service as their only means of knowing that a document is due to be filed.</p>
      <h2 class="govuk-heading-l">5. Opting out from or withdrawal of eReminder Service</h2>
      <p>5.1 The Registrar may withdraw the eReminder Service at any time whether in respect of one or more or every company by giving notice on the website or, at the Registrar's discretion, by email to a company's representative. The Registrar may at any
        time vary the conditions upon which the eReminder Service is provided by giving notice on the website. Three months' notice of withdrawal or variation will be given wherever possible.</p>
      <p>5.2 The company may opt out of the eReminder Service at any time by following the opt-out instructions available as part of the electronic-filing services. Once the opt-out process is completed, the Registrar will revert to sending the company's
        filing reminders in paper form.</p>
      <p>5.3 The company will be deemed to have opted out of the eReminder Service if the last of its representatives terminates his or her appointment as representative. The company is also deemed to be opted out of the eReminder Service in the
        circumstances described in Clause 3.2.</p>
      <p>5.4 If the company opts out of the eReminder Service under Clause 5.2, the Registrar will send a confirmatory email to each person named as a representative on the date of the opt-out. If a company is deemed to have opted out of the eReminder
        Service under Clause 5.3, the Registrar will send an email confirming that the company is no longer in the eReminder Service to the representative whose termination of appointment triggered the deemed opt-out.</p>

      <h2 class="govuk-heading-l">6. Privacy notice</h2>
      <p>6.1 Identity of Controller - The Registrar is the data controller for all personal data collected from individuals who have consented to act as the company’s representative for the purposes of the eReminder Service</p>
      <p>6.2 Lawful basis for processing - Personal data is processed with the explicit consent of the representative. Please see clauses 2.2.1 and 2.2.2.</p>
      <p>6.3 Retention of personal data - The Registrar will retain the personal data of the representative until they opt out of the eReminder Service. Once the opt out process is complete the representative’s personal data will be erased.</p>
      <p>6.4 Individual rights - The General Data Protection Regulation (GDPR) provides certain rights that individuals may exercise in respect of their own personal data. If you would like to exercise any of the rights in the GDPR, in respect of
        representative’s personal data held by Companies House, please contact the Data Protection Officer using the contact details below.</p>
      <p>6.5 Complaints - If you are dissatisfied with the way we are managing your personal data, please let us know in the first instance by writing to the Data Protection Officer at dpo@companieshouse.gov.uk. If you remain dissatisfied, you are entitled
        to raise your concerns with the Information Commissioner’s Office. The contact details are:</p>
      <p>The Information Commissioner’s Office</p>
      <adresss>
        Wycliffe House Water Lane Wilmslow Cheshire SK9 5AF
      </adresss>
      <h2 class="govuk-heading-l">Service summary</h2>
      <p>The eReminder Service sends email reminders to companies who have opted in to the service when their annual account and confirmation statement are due for filing. These email reminders will replace paper reminder letters.</p>
      <p>Companies can opt in to the scheme either through WebFiling or through software filing (as long as the software has been suitably enabled to send eReminder information) and the company must have a valid company authentication code in order to opt
        in to the service.</p>
      <p>Companies can allocate up to 4 email addresses to receive eReminders and these people can be company representatives, agents or anyone who the company wishes to receive reminders on its behalf. These representatives do not all need to know the
        company's authentication code in order to receive reminders but only those who do will be able to file the company's documents online.</p>
      <p>Customers with a company authentication code will be able to add, edit or delete email addresses from the service. The company will remain in the service as long as at least one activated email addresses is logged. If all email addresses are
        removed, the company will be opted out of the service and Companies House will revert to sending the company paper reminder letters.</p>
      <p>If a company representative does not know the authentication code, he/she will be able to make changes to his/her own email address only by using a link on the emails sent as part of this service.</p>
      <p>The system will send email notification to companies whenever email addresses are added or removed from the service. It is up to the company to ensure that the email addresses logged with the service are valid and up to date.</p>
      <p>Customers who access the eReminders service via WebFiling will be able to view the screens in Welsh. Those companies who have registered to do business with Companies House through the medium of Welsh will receive bilingual eReminders.</p>
    </div>
  </div>

{% endblock %}